/* Show watermark when printing */
@media print {
    body::before {
      content: "Mr.Aman";
      position: absolute;
      top: 40%;
      left: 20%;
      font-size: 60px;
      color: rgba(0, 0, 0, 0.1);
      transform: rotate(-30deg);
      z-index: 9999;
      pointer-events: none;
    }
  }
  